[submodule "dbt/demodadosdw"]
	path = dbt/demodadosdw
	url = https://github.com/lksprado/demodadosdw
[submodule "include/local_setup"]
	path = include/local_setup
	url = https://github.com/lksprado/demodados.git
	branch = main
[submodule "include/Solar"]
	path = include/Solar
	url = https://github.com/lksprado/Solar.git
[submodule "include/openweather"]
	path = include/openweather
	url = https://github.com/lksprado/openweather
[submodule "dbt/my_datawarehouse"]
	path = dbt/my_datawarehouse
	url = git@github.com-pessoal:lksprado/my_datawarehouse.git
[submodule "include/nhl_extraction"]
	path = include/nhl_extraction
	url = git@github.com-pessoal:lksprado/nhl-extraction.git
[submodule "include/vide"]
	path = include/vide
	url = https://github.com/lksprado/webscraping-bookstore.git
